.textocopyright {
    font-size: 12px;
    color: #C0C0C0;
    height: 18px;
    text-align: center;
}

.lineaCopyright {
    background-color: #0C553F;
    height: 3px;
}

.fondoColor {
    background-color: #DED1AA;
}

.fondoGrisClaro {
    background-color: #F0EBD9;
}

.fondoVerde {
    background-color: #0C553F;
}

.bordeMenu {
    border-width: 1px;
    border-right: solid;
    border-left: solid;
    border-color: #0C553F;
}

.bordeColor {
    border-width: 1px;
    border: solid;
    border-color: #0C553F;
}

.margenRowOpciones {
    padding-top: 60%;
    padding-right:10%;
}



/*** PROFILE ***/
.profile-header-container {
    margin: 0 auto;
    text-align: center;
    padding-left: 10%;
}

.profile-header-img {
    padding: 10px;
}

    .profile-header-img > img.img-circle {
        width: 64px;
        height: 64px;
        border: 2px solid #23B076;
    }

.profile-header {
    margin-top: 43px;
}


.rank-label-container {
    margin-top: -2px;
    /* z-index: 1000; */
    text-align: center;
}

.label.label-default.rank-label {
    background-color: #23B076;
    padding: 5px 10px 5px 10px;
    border-radius: 20px;
    color: white;
    font-size:12px;
}



.btn-social{position:relative;padding-left:44px;text-align:center;white-space:nowrap;overflow:hidden;text-overflow:ellipsis}.btn-social>:first-child{position:absolute;left:0;top:0;bottom:0;width:32px;line-height:34px;font-size:1.6em;text-align:center;border-right:1px solid rgba(0,0,0,0.2)}
.btn-login{color:#fff;background-color:#23B076;border-color:rgba(0,0,0,0.2)}.btn-bitbucket:focus,.btn-bitbucket.focus{color:#fff;background-color:#163758;border-color:rgba(0,0,0,0.2)}
.btn-login:hover{color:#fff;background-color:#0C553F;border-color:rgba(0,0,0,0.2)}
.btn-login .badge{color:#205081;background-color:#fff}


@font-face {
  font-family: 'FontAwesome';
  src: url('../fonts/fontawesome-webfont.eot?v=4.5.0');
  src: url('../fonts/fontawesome-webfont.eot?#iefix&v=4.5.0') format('embedded-opentype'), url('../fonts/fontawesome-webfont.woff2?v=4.5.0') format('woff2'), url('../fonts/fontawesome-webfont.woff?v=4.5.0') format('woff'), url('../fonts/fontawesome-webfont.ttf?v=4.5.0') format('truetype'), url('../fonts/fontawesome-webfont.svg?v=4.5.0#fontawesomeregular') format('svg');
  font-weight: normal;
  font-style: normal;
}

.fa {
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.fa-login:before {
  content: "\f007";
}

.imagenLogin {
width:80%;
height:80%;
}