.textocopyright {
    font-size: 12px;
    color: #C0C0C0;
    height: 18px;
    text-align: center;
}

.lineaCopyright {
    background-color: #0C553F;
    height: 3px;
}

.fondoColor {
    background-color: #DED1AA;
}

.fondoGrisClaro {
background-color: #F0EBD9;

}

.fondoBody {
background-color: #CFC6B8;

}

.fondoVerde {
    background-color: #0C553F;
}

.bordeMenu {
    border-width: 1px;
    border-right: solid;
    border-left: solid;
    border-color: #0C553F;
}

.bordeColor {
    border-width: 1px;
    border: solid;
    border-color: #0C553F;
}

.miLabelCopyright {
    text-align:center;
    font-weight:bold;
}