.jssorb05 {
position: absolute;
bottom: 16px; 
right: 6px;
}
.jssorb05 div, .jssorb05 div:hover, .jssorb05 .av {
position: absolute;
margin-left:98%;
/* size of bullet elment */
width: 16px;
height: 16px;
background: url(Imagenes/Slider/b05.png) no-repeat;
overflow: hidden;
cursor: pointer;
}
.jssorb05 div { background-position: -7px -7px; }
.jssorb05 div:hover, .jssorb05 .av:hover { background-position: -37px -7px; }
.jssorb05 .av { background-position: -67px -7px; }
.jssorb05 .dn, .jssorb05 .dn:hover { background-position: -97px -7px; }
 .jssora12l, .jssora12r {
                display: block;
                position: absolute;
                /* size of arrow element */
                width: 30px;
                height: 46px;
                cursor: pointer;
                background: url(Imagenes/Slider/a02.png) no-repeat;
                overflow: hidden;
            }
.jssora12l { background-position: -16px -37px ;top: 200px; left: 5px; }
.jssora12r { background-position: -75px -37px; top: 200px; right: 5px;}
.jssora12l:hover { background-position: -136px -37px; }
.jssora12r:hover { background-position: -195px -37px; }
.jssora12l.jssora12ldn { background-position: -256px -37px; }
.jssora12r.jssora12rdn { background-position: -315px -37px; }

.img-slider {
width: 550px; 
height: 450px;    
}

.slides {
cursor: move; 
position: absolute; 
left: 0px; 
top: 0px; 
width: 550px; 
height: 450px;    
overflow: hidden;
}

.slider-container {
position: relative; 
top: 0px; 
left: 0px; 
width: 550px; 
height: 450px;   
overflow: hidden; 
}

.descripcionSlider{
    position: absolute; 
    top: 260px; 
    left: 0px;
    width: 550px; 
    height: 40px;
}

.fondoDescripcionSlider {
    position: absolute; 
    top: 0px; 
    left: 0px; 
    width: 550px; 
    height: 40px;
    background-color: Black; 
    opacity: 0.8; 
    filter: alpha(opacity=50);
}
.textoDescripcionSlider {
    position: absolute; 
    top: 0px; 
    left: 0px; 
    width: 550px; 
    height: 40px;
    color: White; 
    font-size: 21px; 
    line-height: 40px; 
    text-align: center;
}