/*ESTRUCTURA DE LA PAGINA*/
html {
    font-size: 18px;
    font-family:'Century'
}

.panel-verdeOscuro {
    border-color: #0C553F;
}

    .panel-verdeOscuro > .panel-heading {
        color: #FFFFFF;
        background-color: #0C553F;
        border-color: #0C553F;
        text-align: center;
    }

        .panel-verdeOscuro > .panel-heading + .panel-collapse > .panel-body {
            border-top-color: #0C553F;
        }

        .panel-verdeOscuro > .panel-heading .badge {
            color: #f5f5f5;
            background-color: #333;
        }

    .panel-verdeOscuro > .panel-footer + .panel-collapse > .panel-body {
        border-bottom-color: #0C553F;
    }

.panel-verdeClaro {
    border-color: #000000;
}

    .panel-verdeClaro > .panel-heading {
        color: #FFFFFF;
        background-color: #23B076;
        border-color: #000000;
        text-align: center;
        font-weight: bold;
        font-size: 18px;
    }

        .panel-verdeClaro > .panel-heading + .panel-collapse > .panel-body {
            border-top-color: #000000;
        }

        .panel-verdeClaro > .panel-heading .badge {
            color: #f5f5f5;
            background-color: #333;
        }

    .panel-verdeClaro > .panel-footer + .panel-collapse > .panel-body {
        border-bottom-color: #23B076;
    }


.panel-marron {
    border-color: #000000;
}

    .panel-marron > .panel-heading {
        color: #000000;
        background-color: #DED1AA;
        border-color: #000000;
        text-align: center;
    }

        .panel-marron > .panel-heading + .panel-collapse > .panel-body {
            border-top-color: #000000;
        }

        .panel-marron > .panel-heading .badge {
            color: #f5f5f5;
            background-color: #333;
        }

    .panel-marron > .panel-footer + .panel-collapse > .panel-body {
        border-bottom-color: #000000;
    }

/* Fin de Paneles */


/* CAJA DE TEXTO */



.caja-texto {
    color: #000;
    background-color: #fff;
    border-color: #423535;
    font-size: 18px;
    width: 100%;
    height: 28px;
}

    .caja-texto:hover {
        color: #000;
        background-color: #F0F0F0;
        border-color: #0C553F;
    }

    .caja-texto:focus,
    .caja-texto.focus {
        background-color: #E0E2E1;
        border-color: #0C553F;
        border-width: 2px;
    }


/* COMBO / DROPDOWNLIST */
.combo {
    display: block;
    width: 100%;
    padding: 4px 12px;
    height: 28px;
}

    .combo:hover {
        border: solid 2px #333333;
        background-color: #F0F0F0;
    }

    .combo option {
        background-color: #F0F0F0;
    }

.combo-chico {
    display: block;
    width: 80%;
    padding: 4px 12px;
    height: 29px;
    margin-left: 10%;
}

    .combo-chico:hover {
        border: solid 2px #333333;
        background-color: #F0F0F0;
    }

    .combo-chico option {
        background-color: #F0F0F0;
    }

/* CAJA DE TEXTO */

.form-group {
    margin-bottom: 15px;
}

.caja-texto-sinborde {
    color: #000;
    background-color: #fff;
    width: 100%;
    border: hidden;
}

.caja-texto-error {
    color: #000;
    background-color: #fff;
    border: solid;
    border-width: 4px;
    border-color: #C9302C;
    width: 100%;
}

.sinEditar {
    resize: none;
}

.textarea {
    color: #000;
    background-color: #fff;
    border: hidden;
    font-family: 'Estrangelo Edessa';
    width: 400px;
    resize: none;
}

/* COMBO / DROPDOWNLIST */
.combo {
    border: solid 2px #333333;
    width: 100%;
    float: right;
}

    .combo:hover {
        border: solid 2px #333333;
        background-color: #F0F0F0;
    }

    .combo option {
        background-color: #F0F0F0;
    }

/* GRID */
.Grid-gris {
    width: 90%;
    background-color: #ffffff;
    border: solid 1px #333333;
}

    .Grid-gris th {
        color: #ffffff;
        background: #333333;
        border-color: black;
        text-align: center;
        font-weight: normal;
    }

    .Grid-gris td {
        border-color: black;
        color: #000000;
        text-align: center;
    }

    .Grid-gris tr:hover {
        background-color: #BCCDE0;
    }

.Grid-verde {
    width: 95%;
    background-color: #ffffff;
    border: solid 1px #333333;
}

    .Grid-verde th {
        color: #ffffff;
        background: #00919E;
        border-color: black;
        text-align: center;
        font-weight: normal;
        height: 25px;
    }

    .Grid-verde td {
        border-color: black;
        color: #000000;
        text-align: center;
    }

    .Grid-verde tr:hover {
        background-color: #BCCDE0;
    }

/* MENSAJES */
.msj-primary {
    color: #fff;
    background-color: #333333;
    font-weight: bold;
    font-size: 18px;
    height: 50px;
    text-align: center;
    padding-top: 15px;
}

.msj-error {
    color: #C9302C;
    background-color: #F2DEDE;
    font-weight: bold;
    height: 35px;
    text-align: center;
    padding-top: 15px;
    clear: both;
}

.msj-warning {
    color: #333333;
    background-color: #F5E2B7;
    font-weight: bold;
    height: 35px;
    text-align: center;
    padding-top: 15px;
    clear: both;
}

.msj-ok {
    color: #00919E;
    background-color: #DFF0D8;
    font-weight: bold;
    height: 35px;
    text-align: center;
    padding-top: 15px;
    clear: both;
}

/* Texto y Parrafos */
.parrafo {
    font-size: 18px;
    text-align: justify;
}

.label {
    font-size:18px;
    color: #000000;
}

.tituloNegrita {
    font-size: 25px;
    font-weight: bold;
}

.tituloMaiz {
    color: #000000;
    background-color: #DED1AA;
    padding-top: 10px;
    padding-bottom: 10px;
    font-weight: bold;
    text-align: center;
    border-color: black;
    border: solid;
}

.tituloVerde {
    color: #ffffff;
    background-color: #0C553F;
    padding-top: 10px;
    padding-bottom: 10px;
    font-weight: bold;
    text-align: center;
    border-color: black;
    border: solid;
}

a.tituloMaiz:hover,
a.tituloMaiz:focus {
    background-color: #286090;
}



.panelBoton {
    margin-bottom: 20px;
    background-color: #F0EBD9;
    border-radius: 30px 30px 30px 30px;
    -moz-border-radius: 30px 30px 30px 30px;
    -webkit-border-radius: 30px 30px 30px 30px;
    border: 0px solid #000000;
    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
    box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
    text-align: center;
    color: #333333;
}

    .panelBoton:hover {
        background-color: #E2D9B8;
    }

.panelBoton-imagen {
    padding-top: 40px;
    padding-bottom: 15px;
    display: block;
    margin-right: auto;
    margin-left: auto;
}

.panelBoton-titulo {
    font-family: "Cooper Black";
    text-align: center;
    font-weight: bold;
    font-size: 22px;
    padding-bottom: 10px;
    text-transform: uppercase;
}

.panelBoton-texto {
    font-family: "Century";
    padding-bottom: 30px;
    padding-left: 20px;
    padding-right: 20px;
}

a:link {
    text-decoration: none;
}

.IconoLogin {
    width: 24px;
    height: 24px;
}

.radio {
  margin-left: 100px;
}