<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<Menus>
  <Menu URL="~/index.aspx" Text="Inicio" Value="Inicio" />
  <Menu URL="~/Quienessomos.aspx" Text="Quienes Somos" Value="Quienes Somos" />
  <Menu URL="~/Institucional.aspx" Text="Institucional" Value="Institucional" />
  <Menu URL="~/nuestrosProductos.aspx" Text="Productos" Value="Productos" />
  <Menu URL="" Text="Administrador" Value="Administrador">
    <Submenu URL="~/visualizarBitacora.aspx" Text="Visualizar Bitacora" Value="Visualizar Bitacora" />
    <Menu URL="" Text="Usuarios" Value="Usuarios">
      <Submenu URL="~/administrarUsuarios.aspx" Text="Administrar Usuarios" Value="Administrar Usuarios" />
      <Submenu URL="~/administrarUsuarios.aspx" Text="Agregar Usuario" Value="Agregar Usuario" />
    </Menu>
  </Menu>
</Menus>